
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <div class="col-md-12">
        <ul class="nav-item">
          <a class="navbar-link active" routerLink="local" aria-current="page" routerLinkActive="active">Új Véradó</a></ul>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-item">
        <a class="nav-link active" routerLink="local-list" aria-current="page" routerLinkActive="active"><u>Helyszín lista</u></a></ul>
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav-item">
        <a class="nav-link active" routerLink="lista" aria-current="page" routerLinkActive="active"><u>Véradó lista</u></a></ul>
        </div>
    </div>
  </div>
</nav>



<div class="container mt-4">
  <router-outlet></router-outlet>
</div>

