<div class="row">
    <div class="col-md-6 mb-3" *ngFor="let verado of veradok">
        <table>
            <thead>
                <tr>
                    <th>Azonosító</th>
                    <th>Véradó neve:</th>
                    <th>Neme</th>
                    <th>Állampolgárság</th>
                    <th>Születési Helyszín</th>
                    <th>Születési Dátum</th>
                    <th>Lakcím</th>
                    <th>Tajszám</th>
                    <th>Irányított</th>
                    <th>Beteg Neve</th>
                    <th>Beteg Tajszáma</th>
                    <th>Alkalmasság</th>
                    <th>Orvos Neve</th>
                    <th>Okozat</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let verado of veradok">
                    <td>{{verado.id}}</td>
                    <td>{{verado.name}}</td>
                    <td>{{verado.neme}}</td>
                    <td>{{verado.allampolgarsag}}</td>
                    <td>{{verado.szulhely}}</td>
                    <td>{{verado.szulido}}</td>
                    <td>{{verado.Lakcim}}</td>
                    <td>{{verado.tajszam}}</td>
                    <th>{{verado.iranybetegnev}}</th>
                    <th>{{verado.iranybetegTaj}}</th>
                    <th>{{verado.alkalmassag}}</th>
                    <th>{{verado.orvos}}</th>
                    <th>{{verado.okozat}}</th>
                </tr>
            </tbody>
        </table>
        
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-sm btn-outline-primary" (click)="editVerado(verado)">Szerkesztés</button>
            </div>
            <div class="col-md-3">
                <button class="btn btn-sm btn-outline-danger" (click)="deleteVerado(verado)">Törlés</button>
            </div>
        </div>
    </div>
</div>