<div class="row justify-content-md-center">
    <div class="col-md-6">
        <h4>Véradó adatai</h4>
        <hr>
    </div>
</div>

<div class="row justify-content-md-center">
    <div class="col-md-6">
        <form [formGroup]="veradoForm">
            <div class="mb-3">
                <label for="name" class="form-label">A véradó neve</label>
                <input type="text" class="form-control" id="name" name="title" formControlName="name">
            </div>

            <div class="mb-3">
                <label for="neme" class="form-label">A véradó neme: </label>
                <input type="text" class="form-control" id="neme" name="neme" formControlName="neme">
            </div>

            <div class="mb-3">
                <label for="allampolgarsag" class="form-label">A véradó állampolgársága: </label>
                <input type="text" class="form-control" id="allampolgarsag" name="allampolgarsag" formControlName="allampolgarsag">
            </div>

            <div class="mb-3">
                <label for="szulhely" class="form-label">A véradó születési helyszíne: </label>
                <input type="text" class="form-control" id="szulhely" name="szulhely" formControlName="szulhely">
            </div>

            <div class="mb-3">
                <label for="szulido" class="form-label">A véradó születési dátuma: </label>
                <input type="text" class="form-control" id="szulido" name="szulido" formControlName="szulido">
            </div>

            <div class="mb-3">
                <label for="lakcim" class="form-label">A véradó lakcíme: </label>
                <input type="text" class="form-control" id="lakcim" name="lakcim" formControlName="lakcim">
            </div>

            <div class="mb-3">
                <label for="tajszam" class="form-label">A véradó tajszáma(pl.: 0123456789): </label>
                <input type="text" class="form-control" id="tajszam" name="tajszam" formControlName="tajszam">
            </div>

            <div class="mb-3">
                <label for="iranyitott" class="form-label">A véradó irányított vagy általános (igen:1 vagy nem:0) </label>
                <input type="number" class="form-control" id="iranyitott" name="iranyitott" formControlName="iranyitott">
            </div>

            <div class="mb-3">
                <label for="iranybetegnev" class="form-label">Irányított beteg neve: </label>
                <input type="text" class="form-control" id="iranybetegnev" name="iranybetegnev" formControlName="iranybetegnev">
            </div>

            <div class="mb-3">
                <label for="iranybetegTaj" class="form-label">Az irányított beteg tajszáma(pl.: 0123456789): </label>
                <input type="text" class="form-control" id="iranybetegTaj" name="iranybetegTaj" formControlName="iranybetegTaj">
            </div>

            <div class="mb-3">
                <label for="alkalmassag" class="form-label">A véradó alkalmassága(igen:1 vagy nem:0): </label>
                <input type="number" class="form-control" id="alkalmassag" name="alkalmassag" formControlName="alkalmassag">
            </div>


            <div class="mb-3">
                <label for="orvos" class="form-label">Az értékelő orvos neve: </label>
                <input type="text" class="form-control" id="orvos" name="orvos" formControlName="orvos">
            </div>

            <div class="mb-3">
                <label for="okozat" class="form-label">Az értékelő orvos véleménye: </label>
                <input type="text" class="form-control" id="okozat" name="okozat" formControlName="okozat">
            </div>

            </div>
            <!-- <div class="mb-3">
                <label for="categories" class="form-label">Kategóriák</label>
                <select class="form-select" id="categories" formControlName="categories" multiple [compareWith]="compareObjects">
                    <option [ngValue]="{id: category.id}" *ngFor="let category of categories">
                        {{ category.title }}
                    </option>
                </select>
            </div>
            <div class="mb-3">
                <label for="seller" class="form-label">Kategóriák</label>
                <select class="form-select" id="seller" formControlName="seller" [compareWith]="compareObjects">
                    <option [ngValue]="null">Nincs felhasználó</option>
                    <option [ngValue]="{id: user.id}" *ngFor="let user of users">
                        {{ user.firstName }} {{ user.lastName }}
                    </option>
                </select>
            </div> -->
            <div class="text-end">
                <button class="btn btn-outline-primary" (click)="saveProduct()">Mentés</button>
            </div>
        </form>
    </div>
</div>